body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: antiquewhite;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.form-container{
    background-color: aliceblue;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 300px;
}

h2{
    text-align: center;
    margin-bottom: 20px;
    font-size: 1.5em;
    color: black;
}

label{
    display: block;
    margin-bottom: 5px;
    font-size: 0.9em;
}

input[type="text"], input[type="email"], input[type="password"]{
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1em;
    box-sizing: border-box;

}

button{
    width: 100%;
    padding: 10px;
    background-color: mediumaquamarine;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1em;
    cursor: pointer;

}

button:hover{
    background-color: rgb(38, 82, 67);
}

#error-message{
    color: red;
    font-size: 0.9em;
    margin-top: 10px;
    text-align: center;
}